In [3]:
import numpy as np 
import pandas as pd 

#import plot.ly as p
import plotly.graph_objects as go

https://www.covidvisualizer.com

https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset#time_series_covid_19_confirmed.csv

https://edition.cnn.com/2020/03/20/health/covid-19-recovery-rates-intl/index.html

https://www.nytimes.com/2020/03/20/health/coronavirus-data-logarithm-chart.html

API:

https://rapidapi.com/collection/coronavirus-covid-19

https://rapidapi.com/astsiatsko/api/coronavirus-monitor-v2

https://rapidapi.com/astsiatsko/api/coronavirus-monitor?endpoint=apiendpoint_745c45af-47e5-4b99-b962-9f77e164c054


API 35$ per month:

https://www.worldometers.info/coronavirus/



---

https://worldometers.info/js/countries.js

https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30232-2/fulltext

# DATASET 1

In [61]:
data_dir = 'novel-corona-virus-2019-dataset-2/'

confirmed_link = data_dir + 'time_series_covid_19_confirmed.csv'

dataset_link = data_dir + 'covid_19_data.csv'
dataset_link = data_dir + 'COVID19_open_line_list.csv'


dataset_link2 = data_dir + 'COVID19_line_list_data.csv'

In [67]:
confirmed = pd.read_csv(confirmed_link)
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,75,82,114,147,177,212,272,322,411,599
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,701,773,839,825,878,889,924,963,1007,1086
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,200,212,226,243,266,313,345,385,432,455
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,2
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,197,238,428,566,673,790,900,1030,1183,1306

In [64]:
confirmed['Country/Region'].unique()

array(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany', 'Finland',
       'United Arab Emirates', 'Philippines', 'India', 'Italy', 'Sweden',
       'Spain', 'Belgium', 'Egypt', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Algeria', 'Croatia',
       'Switzerland', 'Austria', 'Israel', 'Pakistan', 'Brazil',
       'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania',
       'Estonia', 'San Marino', 'Belarus', 'Iceland', 'Lithuania',
       'Mexico', 'New Zealand', 'Nigeria', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Hungary', 'Liechtenstein', 'Poland',
       'Tunisia', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Colombia', 'Costa Rica', 'Peru', 'Serbia',
       'Slovakia', 'Togo', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Paraguay', 'Albania', 'Cyprus', 'Brunei', 'US',
       'Burkina Faso', 'Holy See', 'Mongolia', 'Panama', 'China', 'Iran',
       'Korea, South', 'France', 'Cruise Ship', 'Denmark', 'Czechia',
       'Taiwan*', 'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'United Kingdom', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Jamaica',
       'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Ethiopia', 'Sudan',
       'Guinea', 'Kenya', 'Antigua and Barbuda', 'Uruguay', 'Ghana',
       'Namibia', 'Seychelles', 'Trinidad and Tobago', 'Venezuela',
       'Eswatini', 'Gabon', 'Guatemala', 'Mauritania', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname',
       'Kosovo', 'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Netherlands', 'Benin',
       'Liberia', 'Somalia', 'Tanzania', 'Barbados', 'Montenegro',
       'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti', 'Gambia, The',
       'Bahamas, The', 'Chad', 'El Salvador', 'Fiji', 'Nicaragua',
       'Madagascar', 'Haiti', 'Angola', 'Cabo Verde', 'Niger',
       'Papua New Guinea', 'Zimbabwe', 'Cape Verde', 'East Timor',
       'Eritrea', 'Uganda', 'Dominica', 'Grenada', 'Mozambique', 'Syria',
       'Timor-Leste'], dtype=object)

In [69]:
len(confirmed['Country/Region'].unique())

171

In [16]:
#confirmed['Province/State'].unique()

On a les donnÃ©es depuis le 22 Janvier 2020 --> 3 mois

In [22]:
df = pd.read_csv(dataset_link)

In [24]:
df.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country',
       'wuhan(0)_not_wuhan(1)', 'latitude', 'longitude', 'geo_resolution',
       'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation',
       'symptoms', 'lives_in_Wuhan', 'travel_history_dates',
       'travel_history_location', 'reported_market_exposure',
       'additional_information', 'chronic_disease_binary', 'chronic_disease',
       'source', 'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44'],
      dtype='object')

Les symptÃ´mes sont pas vraiment utilisables: il y a 13'633 NaN alors qu'on a 14'126 lignes.

In [71]:
df['symptoms'].isna().sum()#.value_counts()

13633

In [39]:
len(df['symptoms'])

14126

In [30]:
len(df.symptoms.unique())

218

les maladies chroniques:

In [50]:
print(df.chronic_disease_binary.isna().sum())
df.chronic_disease_binary.value_counts()

14108

1.0    13
0.0     5
Name: chronic_disease_binary, dtype: int64

In [45]:
df.chronic_disease.isna().sum()#.value_counts()

14113

Il faudrait sÃ©parer les symptÃ´mes (avec des melt etc):

In [1]:
# df.symptoms.unique()

Death and died are marked differently, why?

In [55]:
df.outcome.value_counts()

stable                                                                      78
discharge                                                                   45
discharged                                                                  37
death                                                                       12
died                                                                         3
recovered                                                                    2
Discharged                                                                   2
Symptoms only improved with cough. Currently hospitalized for follow-up.     1
severe                                                                       1
05.02.2020                                                                   1
treated in an intensive care unit (14.02.2020)                               1
critical condition, intubated as of 14.02.2020                               1
Name: outcome, dtype: int64

In [57]:
df2 = pd.read_csv(dataset_link2)

In [2]:
#Â df2.summary.unique()

# DATASET 2

In [6]:
data_dir = '../covid19-cases-switzerland/'

file_dir = data_dir + 'covid19_cases_switzerland.csv'

In [7]:
df = pd.read_csv(file_dir)

In [8]:
df.head()

,Date,AG,AI,AR,BE,BL,BS,FR,GE,GL,...,SO,SZ,TG,TI,UR,VD,VS,ZG,ZH,CH
0,2020-03-06,10.0,0.0,1.0,20.0,9.0,17.0,7.0,16.0,0.0,...,1.0,7.0,1.0,37.0,0.0,23,4.0,5.0,24.0,207
1,2020-03-07,14.0,0.0,1.0,25.0,13.0,22.0,7.0,25.0,0.0,...,1.0,7.0,1.0,43.0,0.0,30,5.0,6.0,28.0,262
2,2020-03-08,14.0,0.0,1.0,31.0,19.0,25.0,8.0,38.0,0.0,...,1.0,7.0,1.0,58.0,0.0,40,5.0,7.0,34.0,331
3,2020-03-09,14.0,0.0,2.0,34.0,20.0,29.0,10.0,40.0,0.0,...,1.0,7.0,2.0,67.0,0.0,51,7.0,7.0,36.0,372
4,2020-03-10,15.0,0.0,2.0,39.0,22.0,39.0,12.0,53.0,0.0,...,1.0,7.0,3.0,91.0,0.0,77,15.0,7.0,45.0,490

In [12]:
df.Date

0     2020-03-06
1     2020-03-07
2     2020-03-08
3     2020-03-09
4     2020-03-10
5     2020-03-11
6     2020-03-12
7     2020-03-13
8     2020-03-14
9     2020-03-15
10    2020-03-16
11    2020-03-17
12    2020-03-18
13    2020-03-19
Name: Date, dtype: object